/* header styles */
header{
    /* margin: auto; */
    background: #2A9D8F;
    height: 122px;
    max-width: 1264px;
    width: 100%;
    margin: 0 auto;
    padding: 20px 40px;
}
/* img, ul, li, nav, a, button {
    display: inline-block;
} */
.display_ib{
    display: inline-block;
}
/* .logo{
    background-color: white;
    padding: 20px;
    border-radius: 50%;
} */
.im{
    width: 45.996px;
    height: 46px;
    margin-right: 280px;
    margin-left: 80px;
    /* background-color: white;
    border-radius: 50%; */
    margin-top: 0%;
}
.nv{
    width: 300px;
    height: 30px;
    margin-right: 300px;
    font-family: 'Nerko One', cursive;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}
.li{
    padding: 20px;
}
.firstb{
    padding: 8px 16px;
}

/* article styles */
article{
    width: 780px;
    margin: 200px auto;
}
h1{
    color: #4D4D4D;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    padding: 20px; 
}
.pone{
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: 0.1px;
    padding: 20px; 
}
.ptwo{
    color: #656565;
    text-align: justify;
    font-family: 'Nerko One', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;  
    padding: 20px; 
}
/* section 1st styles */
.secone{
    width: 1300px;
    height: 720px;
    background: #C2F3EE;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
h2{
    color: #272727;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 500; 
    margin: 0 auto;
    /* padding: 10px; */
    /* gap: 10px; */
    /* vertical-align: middle; */
    /* display: inline-block; */
}
.secondp{
    color: #515151;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;   
    width: 400px;
    gap: 50px;
    padding: 10px;
    /* margin-bottom: 200px; */
    /* margin: 0 auto; */
}

    /* padding: 203px 130px 193px 853px; */
    /* display: inline-block; */
    /* vertical-align: middle; */
.image{
    width: 600px;
    height: 560px;
    /* vertical-align: middle; */
}
.imgdiv{
    /* display: inline-block; */
    margin: 0 auto;
    /* vertical-align: middle; */
    /* padding: 80px 710px 80px 70px; */
    vertical-align: middle;
    display: flex;
}
.pdiv{
    /* display: inline-block; */
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 40px;
    padding: 30px 30px;
    width: 600px;
    height: 560px;
}
.secb{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    border: 2px #2A9D8F;
    border-radius: 5px;
    background-color: #2A9D8F;
    padding: 14px 28px;  
    cursor: pointer;
}

/* section 2 styles */
.sectiontwo{
    display: flex;
    width: 1300px;
    margin: 0 auto;
    justify-content: space-between;
    gap: 25px;
    padding: 50px;
    margin-bottom: 200px;
}
h3{
    color: #4D4D4D;
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    padding-top: 200px; 
}
.secdiv{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
}
/* footer styles */
footer{
    display: flex;
    height: 300px;
    width: 1300px;
    margin: 0 auto;
    padding: 90px 130px 148px 130px;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #2A9D8F;
}
.flogo{
    width: 98px;
    height: 98px;
}
.fnav{
    display: flex;
    gap: 50px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px; /* 150% */
    letter-spacing: 0.09px;
}
.list{
    color: #FFF;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 150% */
    letter-spacing: 0.1px;  
}